# Backend
backend/venv/
backend/__pycache__/
*.pyc

# Frontend
frontend/node_modules
frontend/.vite/
frontend/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

venv
node_modules